*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.925);
     font-family: Arial, Helvetica, sans-serif;
}
header{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    /* background-image: url(MannyH.png);
    height: 100%; */
    /* background-color: whitesmoke; */
}

.headernav{
    background-color: #c62527;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header a {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    border-radius: 8px;
}

header a:hover{
    background: rgba(0, 0, 0, 0.411);

}

/*content below header*/
.contents{
    text-align: center;
}

p{
    color: white;
    margin: 10px;
}

.imguserbc
{ 
    display: block;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}


/* contents */

h1
{
    font-weight: 750;
    font-size: 25px;
    color:#c62527;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.content h3
{
    font-size: 20px;
    
}
.content h3{
    text-decoration: none;
    width: 95%;
    color: white;
    font-size: 30px;
}
/* .content h3:hover{
    border-color: #c62527;
} */

.content a{
    text-decoration: none;
    color: #c62527;
}
/* .content h3:hover a{
    color:#c62527;
} */

.content p
{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.content
{
    /* padding-left: 30px ; */
    text-align: justify;
}

.allcontent{
    padding: 40px 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 200px;
    align-items: center;
    text-align: justify;
    width: 600px;
    height: 100%;
    /* background-color: blue; */
}
.row
{
    display: flex;
    background-color: black;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.line{
    width: 150px;
    height: 1px;
   
    background-color: #c625288c;
    border-color: #c625288c;
    margin-bottom: 15px;
}

.footer
{
    padding: 20px 0;
    background-color: #c62527;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer a{
    text-decoration: none;
    color: black;
}
.footer p{
    color:rgba(255, 255, 255, 0.856);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 
}
