*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.925);
     font-family: Arial, Helvetica, sans-serif;
}
header{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    /* background-image: url(MannyH.png);
    height: 100%; */
    /* background-color: whitesmoke; */
}

header .headerbar {
   
    position: relative;

}
.headernav{
    background-color: black;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px ;
}

.headerbar a {
    color: blanchedalmond;
    line-height: 15px;
    width: 100px;
    font-size: 15pt;
    position:absolute;
    right: 20px;
    bottom: 12px;
}



nav{
    position:relative;
    background-color: #c62527;
    left: 0; 
    right: 0; 
    margin-top: 5px;
    margin-left: auto; 
    margin-right: auto; 
    /* margin: 5px auto 0; */
    width: 828px;
    height: 30px;
    /* background: black; */
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    transition: all .5 ease 0s;
    /* text-align: center;
    align-items: center;
     */
}
nav .animation{
    position:absolute;
    /* height: 100%;
    top: 0; */
    height: 100%;
    bottom: 0;
    z-index: 0;
    background: rgba(0, 0, 0, 0.411);
    border-radius: 8px;
}
nav a {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 30px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;

}


a:nth-child(1){
    width: 100px;
}
a:nth-child(2){
    width: 100px;
}
a:nth-child(3){
    width: 150px;
}

a:nth-child(4){
    width: 100px;
}
a:nth-child(5){
    width: 100px;
}
a:nth-child(6){
    width: 100px;
}
a:nth-child(7){
    margin-left: 10px;
    width: 150px;
}


nav .start-currenttransaction, a:nth-child(1):hover~.animation{
    width: 100px;
    left: 0;
}
nav .start-completedtransaction, a:nth-child(2):hover~.animation{
    width: 100px;
    left: 100px;
}
nav .start-managemenu, a:nth-child(3):hover~.animation{
    width: 150px;
    left: 200px;
}


nav .start-currenttransaction, a:nth-child(4):hover~.animation{
    width: 100px;
    left: 352px;
}
nav .start-completedtransaction, a:nth-child(5):hover~.animation{
    width:100px;
    left: 452px;
}
nav .start-managemenu, a:nth-child(6):hover~.animation{
    width: 100px;
    left: 552px;
}
nav .start-managemenu, a:nth-child(7):hover~.animation{
    width: 180px;
    left: 652px;
}


/*content below header*/

p{
    color: white;
    font-size: 15px;
    margin: 10px;
}

.content h1
{
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    color:#c62527;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.content h3
{
    font-size: 15px;
    
}
.content h3{
    text-decoration: none;
    border-radius: 8px;
    width: 90%;
    padding: 10px 25px;
    border-style: solid;
    border-color: white;
    color: white;
    text-align: center;
}
.content h3:hover{
    border-color: #c62527;
}

.content a{
    text-decoration: none;
    color: white;
}
.content h3:hover a{
    color:#c62527;
}

.content p
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.content
{
    text-align: center;
    /* padding-left: 30px ; */
    text-align: justify;
}

.allcontent{
    padding: 35px 30px;
    display: flex;    
    margin-top: 0;
    margin-left: auto;
    margin-right: 12px;
    justify-content: center;
    width: 500px;
    height: 100%;
}
.row
{
    display: flex;
    background-color: black;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.column2
{
    margin-top: 0;
    padding: 20px 0px;   
    margin-left: 0;
    margin-right: 30px;
    justify-content: center;
    width: 350px;
    height: 600px;
}

.imguser2
{ 
    display: block;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
   
   
}

.column2 h2{
    padding-bottom: 5px;
    color:#c62527;
    font-size: 15px;
    text-align: center;
}
.column2 p{
    font-size: 12px;
}

.line{
    width: 150px;
    height: 1px;
    background-color: #c625288c;
    border-color: #c625288c;
    margin-bottom: 30px;
}


.line2{
    margin: auto auto;
    width: 95%;
    height: 0.5px;
    background-color: white;
    border-color: white;
    margin-bottom: 40px;
    /* margin-top: 20px; */
 
}
p{
    text-align: justify;
}

.content2
{
    background-color: black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.imguser
{
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position:top;
    border-radius:8px;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

.content2 h1
{
    text-align: left;
    font-weight: 600;
    font-size: 22px;
    color:#c62527;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.bcontent{
    margin-left: 20px;
    margin-bottom: 20px;
}
.content2 h3{
    font-size: 15px;
    margin-top: 10px;
    margin-right: 30px;
    text-decoration: none;
    border-radius: 8px;
   
    padding: 10px 10px; 
    width: 90%;
    color: white;
}
.content2 h3:hover{
    color:#c62527;
    border-color: #c62527;
    background-color:#c62527;
}
.content2 h3:hover i{
    color: white;
}
.content2 a{
    text-decoration: none;
    color: white;
}

.WPic
{
    display: flex;    
    margin-top: 20px;
    margin-left: 30px;
    margin-right: auto;
    justify-content: center; 

}

.footer
{
    padding: 20px 0;
    background-color: #c62527;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer a{
    text-decoration: none;
    color: black;
}
.footer p{
    color:rgba(255, 255, 255, 0.856);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 
}
